.hamBtn {
    position: absolute;
    top: 5%;
    right: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    
    z-index: 15;
}

.hamLine {
    width: 2rem;
    height: 0.25rem;
    background: rgb(var(--white-rgb));
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.hamLine:nth-child(1) {
    transform: rotate(0);
}

.hamLine:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
}

.hamLine:nth-child(3) {
    transform: rotate(0);
}


.menuOpen .hamLine:nth-child(1) {
    transform: rotate(45deg);
}

.menuOpen .hamLine:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

.menuOpen .hamLine:nth-child(3) {
    transform: rotate(-45deg);
}

@media (min-width: 769px) {
    .hamBtn {
        display: none;
    }
}